<div class="row">
  <div class="col-md-6">
  <h1>What is Secret Snippet?</h1>
  <p>Secret Snippet uses the award winning <a href="https://www.trusona.com">Trusona</a> mobile app and service to help you quickly and easily share passwords, secret links, API keys and other things that usually end up in email, instant messages or written down on a piece of paper.</p>
  <h2>FAQ</h2>
  <dl>
    <dt>Who created Secret Snippet?</dt>
    <dd>Secret Snippet was created during Trusona's May 2018 "Lab Day" by Clayton Lengel-Zigich and David Foster. It's an experimental, fun, free and definitely-not-officially-supported use of Trusona's core technologies.</dd>
    <dt>Is the data encrypted?</dt>
    <dd>No. We do not encrypt the data entered into the system.</dd>
    <dt>So, you can totally read my messages, right?</dt>
    <dd>Yes. We could, which is why we don't suggest sharing too much context in the secrets.</dd>
    <dt>When will you add feature ________?</dt>
    <dd>Head over to <a href="https://github.com/clayton/secret_snippet/issues">GitHub</a> and add a feature request.</dd>
    <dt>Is it safe to use?</dt>
    <dd>In short, yes. Because we're using Trusona, we know that once you share the link with your friend, only they can access it. With that said, we don't recommend sending too much sensitive information. When you are just sending a password, and there is no context of how it can be used, there isn't much we can do with it.</dd>
    <dt>Can I view the source?</dt>
    <dd>Yes. It's available on <a href="https://github.com/clayton/secret_snippet">GitHub</a>. </dd>
  </dl>
  </div>
</div>