<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        Secret Saved
      </div>
      <div class="card-body">
        <h5 class="card-title">Your secret was successfully created.</h5>
        <p class="card-text">Use the link below to share.</p>
        <input name="shareable-url" id="shareable-url" class="form-control" value="<%= secret_url(@secret, protocol: :https) %>">
        <button onclick="copyToClipboard()" class="mt-5 btn btn-lg btn-secondary">Copy to clipboard</button>
      </div>
    </div>
    <p class="mt-4"><%= link_to "Share another secret", root_url %></p>
  </div>
</div>

<script type="text/javascript">
// https://www.w3schools.com/howto/howto_js_copy_clipboard.asp
// Because lazy
function copyToClipboard() {
  /* Get the text field */
  var copyText = document.getElementById("shareable-url");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");
}
</script>