<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        Secret Saved
      </div>
      <div class="card-body">
        <h5 class="card-title">Your secret was successfully created.</h5>
        <p class="card-text">Use the link below to share.</p>
        <p class="mt-4 card-text"><code><%= secret_url(@secret) %></code></p>
      </div>
    </div>
  </div>
</div>