<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2>Your secrets</h2>
    <% if @secrets.count < 1 %>
      <p>Sorry, there are no secrets for you right now. Would you like to <%= link_to "create one", new_secret_path %>?</p>
    <% end %>
    <% @secrets.each do |secret| %>
      <div class="card">
        <div class="card-header">
          Expires: <%= secret.expires_at %>
        </div>
        <div class="card-body">
          <pre class="card-text"><%= secret.secret %></pre>
        </div>
      </div>
    <% end %>
  </div>
</div>