<div class="row">
  <div class="col">
    <h1>Listing your secrets</h1>
    <% if @secrets.count < 1 %>
      <p>Well, it doesn't look like there are any secrets waiting for you. Would you like to <%= link_to "create one", new_secret_path %>?</p>
    <% else %>
      <h2>Your secrets</h2>
      <% @secrets.each do |secret| %>
        <div class="card mb-4">
          <div class="card-header">
            Expires: <%= secret.expires_at %>
          </div>
          <div class="card-body">
            <textarea class="form-control" readonly rows="3"><%= secret.secret %></textarea>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>