<div class="row">
  <div class="col">
    <h1 class="text-center display-2 mt-5">Secret Snippet</h1>
    <p class="lead text-center">Securely send secret snippets. It's simple!</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_tag secrets_path do %>
      <div class="form-group">
        <label for="recipient_email">Who can see this secret?</label>
        <input type="text" class="form-control-lg form-control" name="receipient_email" id="recipient_email" placeholder="<%= random_funny_email_address %>">
        <small id="receipient_email_help" class="form-text text-muted">Enter the email address of the person you'd like to unlock this secret.</small>
      </div>
      <div class="form-group">
        <label for="secret_text">Password, secret text, private link etc.</label>
        <textarea name="secret_text" id="secret_text" rows="3" class="form-control form-control-lg" placeholder="enter your secret here"></textarea>
        <small id="secret_text_help" class="form-text text-muted">Remember, keep it short and out-of-context.</small>
      </div>
      <button type="submit" class="btn btn-lg btn-primary">Get a shareable link</button>
    <% end %>
  </div>
</div>