<div class="row">
  <div class="col">
    <h2>A secret is waiting</h2>
    <p>In order to view this secret, use the Trusona app on iOS or Android.</p>
    <%= link_to "Use Trusona on your phone to view the secret", new_session_url, class: 'btn btn-lg btn-primary' %>
  </div>
</div>